button {
  margin-left: 2%;
}

.buttonSubmit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
}

/* Define uma largura fixa para as colunas do IRA e do botão de ações */
.col-ira {
  width: 15%; /* Ajuste a porcentagem conforme necessário */
  text-align: center; /* Centraliza o conteúdo da coluna */
}

.col-acoes {
  width: 10%; /* Ajuste a porcentagem conforme necessário */
  text-align: center; /* Centraliza o conteúdo da coluna */
}
